<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.PageTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" href="assets/ico/favicon.html">
    <link href="@Url.Content("assets/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("assets/css/theme.css")" rel="stylesheet">
    <link href="@Url.Content("assets/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("assets/css/alertify.css")" rel="stylesheet">
    <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="Favicon Icon" href="ico/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrap">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="logo">
                        <img src="assets/img/logo.png" alt="Realm Admin Template">
                    </div>
                    <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="btn btn-navbar slide_menu_left visible-tablet">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="top-menu visible-desktop">
                        <ul class="pull-left">
                            <li><a id="messages" data-notification="2" href="#"><i class="icon-envelope"></i>系统公告</a></li>
                            <li><a id="notifications" data-notification="3" href="#"><i class="icon-globe"></i>系统通知</a></li>
                        </ul>
                        <ul class="pull-right">
                            <li><a href="login.html"><i class="icon-off"></i>退出系统</a></li>
                        </ul>
                    </div>

                    <div class="top-menu visible-phone visible-tablet">
                        <ul class="pull-right">
                            <li><a title="link to View all Messages page, no popover in phone view or tablet" href="#"><i class="icon-envelope"></i></a></li>
                            <li><a title="link to View all Notifications page, no popover in phone view or tablet" href="#"><i class="icon-globe"></i></a></li>
                            <li><a href="login.html"><i class="icon-off"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="sidebar-nav nav-collapse collapse">
                @Html.Action("newwebmenu", "IndexPub", new { area = "" })
            </div>
            <div class="main_container" id="dashboard_page">
                @RenderBody()
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery.downCount.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery.masonry.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery.facybox.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery.alertify.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("/assets/js/jquery.gritter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/realm1.js")"></script>
    <script type="text/javascript" src="@Url.Content("/assets/js/jquery.slimscroll.min.js")"></script>
</body>
</html>
