<!DOCTYPE html>
<!-- START HEAD -->
<head>
    <meta charset="UTF-8" />
    <!-- this line will appear only if the website is visited with an iPad -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />
    <title>Libra | Just another Your Inspiration Themes site</title>
    <!-- RESET STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/css/reset.css")" />
    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/css/bootstrap.css")" />
    <!-- MAIN THEME STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="@Url.Content("/css/style.css")" />

    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- [favicon] end -->

    <!-- Touch icons more info: http://mathiasbynens.be/notes/touch-icons -->
    <!-- For iPad3 with retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x.png" />

    <!--<link rel='stylesheet' id='thickbox-css'  href='js/thickbox/thickbox.css' type='text/css' media='all' />-->
    <link rel='stylesheet' id='featurestab-css'  href='@Url.Content("/css/featurestab.css")' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css'  href='@Url.Content("/css/responsive.new.css")' type='text/css' media='all' />
    <link rel='stylesheet' id='ahortcodes-css'  href='@Url.Content("/css/shortcodes.css")' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-css'  href='@Url.Content("/css/contact_form.css")' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css'  href='@Url.Content("/css/custom.css")' type='text/css' media='all' />
    <style type="text/css">
        body { background-color: #ffffff; background-image: url('images/bg-pattern.png'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
    </style>
    <script type="text/javascript" src="@Url.Content("/js/jquery/jquery-1.9.1.min.js")"></script>


</head>
<!-- END HEAD -->
<!-- START BODY -->
<body class="home page no_js responsive stretched">

<!-- START BG SHADOW -->
<div class="bg-shadow">

<!-- START WRAPPER -->
    <div id="wrapper" class="container group">

        <!-- START TOP BAR -->
        <div id="topbar">
            <div class="container">
                <div class="row">
                    <div id="nav" class="span12 light">
                    </div>
                </div>
            </div>
        </div>
         <!-- END TOP BAR -->

    <!-- START HEADER -->
    <div id="header" class="group margin-bottom">

        <div class="group container">
            <div class="row" id="logo-headersidebar-container">
                <!-- START LOGO -->
                <div id="logo" class="span6 group">
                    <a id="logo-img" href="index.html" title="Libra">
                        <img src="images/libra-logo1.png" title="Libra" alt="Libra" />
                    </a>
                    <p id='tagline'>Just another Your Inspiration Themes site</p>
                </div>
                <!-- END LOGO -->  
                <div id="header-sidebar" class="span6 group">
                    <div class="widget-first widget header-text-image">
                        <div class="text-image" style="text-align:left">
                            <img src="images/link.png" alt="CUSTOMER SUPPORT" />
                        </div>
                        <div class="text-content">
                            <h3>推广链接</h3>
                            <a href="">www.baidu.comwww.baidu.comwww.baidu.comwww.baidu.com</a>
                        </div>
                    </div>
                </div>					
            </div>
        </div>
    </div>
    <!-- END HEADER -->
   
    <!-- START PRIMARY -->
    <div id="primary" class="sidebar-right">
        <div class="container group">
            <div class="row">			
                <!-- START CONTENT -->
                <div id="content-home" class="span12 content group">
                    <div class="page type-page status-publish group">
                        <div class="row">
                            <div id="features-tab-libra" class="features-tab-container  group span12 margin-bottom">
                                <div class="row">
                                    <img src="http://demo.yithemes.com/libra/wp-content/themes/libra/theme/assets/images/features-tab-shadow.png" class="shadow" />
                                    <div class="span3">
									<div class="profile-picture">                

                <div class="stats-label text-color">
                    <span class="font-extra-bold font-uppercase">13100000000</span>
                    <div>
                        <h4 class="font-extra-bold m-b-xs">
                            1050.00 静态
                        </h4>
                               <small class="text-muted">推荐人：13954223807</small><br>
                               <small class="text-muted">报单中心：13800000000 </small>
                    </div>
					<br/>
					<div>
					<a class="btn btn-large  btn-view-over-the-town-5 " href="#">提供帮助</a>
					<a class="btn btn-large  btn-indian-night-5  " href="#">获得利益</a>
					</div>
                </div>
            </div>
									<ul class="features-tab-labels">
                                        <li class="features-tab-0  withicon">
                                            <img src="images/hi.png" title="我的首页" alt="我的首页" />
                                            我的首页
                                        </li>

                                        <li class="features-tab-1  withicon">
                                            <img src="images/111.png" title="我的团队" alt="我的团队" />
                                            我的团队
                                        </li>

                                        <li class="features-tab-2  withicon">
                                            <img src="images/layouts.png" title="团队动态" alt="团队动态" />
                                            团队动态
                                        </li>

                                        <li class="features-tab-3  withicon">
                                            <img src="images/shortcodes.png" title="我的资料" alt="我的资料" />
                                            我的资料
                                        </li>

                                        <li class="features-tab-4  withicon">
                                            <img src="images/seo.png" title="钱包管理" alt="钱包管理" />
                                            钱包管理
                                        </li>
										
                                        <li class="features-tab-7  withicon">
                                            <img src="images/sample.png" title="我的激活币" alt="我的激活币" />
                                            我的激活币
                                        </li>

                                        <li class="features-tab-5  withicon">
                                            <img src="images/newsletter.png" title="新闻公告" alt="新闻公告" />
                                            新闻公告
                                        </li>

                                        <li class="features-tab-6  withicon">
                                            <img src="images/advanced.png" title="我的消息" alt="我的消息" />
                                            我的消息
                                        </li>
                                       
                                        <li class="features-tab-8  withicon">
                                            <img src="images/forum.png" title="退出系统" alt="退出系统" />
                                            退出系统
                                        </li>
                                    </ul>
									</div>
                                    <div class="features-tab-wrapper span9">
									    @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- START COMMENTS -->
                    <div id="comments"></div>
                    <!-- END COMMENTS -->
                </div>
                <!-- END CONTENT -->               
            </div>
        </div>
    </div>
    <!-- END PRIMARY -->

    <!-- START COPYRIGHT -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="left span6">
                    <p>
                        <a href=""><img src="http://yithemes.com/cdn/images/various/footer_yith_grey.png" alt="Your Inspiration Themes" style="position:relative; top:9px; margin: -22px 5px 0 0;"></a>&nbsp;Copyright 2012 - <strong>Libra theme</strong> by
                        Your Inspiration Themes
                    </p>
                </div>
                <div class="right span6">
                    <p>
                        Collect from <a href="" title="网站模板" target="_blank">网站模板</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->

    <div class="wrapper-border"></div>

    </div>
<!-- END WRAPPER -->

</div>
<!-- END BG SHADOW -->

<script type='text/javascript' src='@Url.Content("/js/comment-reply.min.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/underscore.min.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/jquery.colorbox-min.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/jquery.easing.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/jquery.masonry.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/responsive.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/mobilemenu.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/jquery.superfish.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/jquery.placeholder.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/contact.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/jquery.tipsy.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/jquery.cycle.min.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/hoverIntent.min.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/media-upload.min.js")'></script>
<script type='text/javascript' src='@Url.Content("/js/jquery.custom.js")'></script>

</body>
<!-- END BODY -->
</html>
