@using Webdiyer.WebControls.Mvc
@model SimpleWeb.Areas.WebFrontArea.Models.HelpOrderListViewModel
@{
    Layout = "~/Views/_WebLayout.cshtml";
}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        @Html.Action("webmenu", "IndexPub", new { area = "" })
    </div>
</div>
<div class="wrapper">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @using (Html.BeginForm("helpOrderlist", "WebHome", new { area = "WebFrontArea" }, FormMethod.Get, new { @id = "form1" }))
                    {
                        <div class="form-group">
                            <label class="pull-left control-label">单据号</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(m => m.seachmodel.OrderCode, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="btn-group hidden-xs invoice-btn-group">
                            <p class="btn-toolbar">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>&nbsp;搜索</button>
                            </p>
                        </div>
                    }
                </div>
                <table class="table table-bordered col-md-12">
                    <thead>
                        <tr>
                            <th>单据编号</th>
                            <th>提供金额</th>
                            <th>支付方式</th>
                            <th>已匹金额</th>
                            <th>单据状态</th>
                            <th>排单天数</th>
                            <th>使用激活码</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.orderlist)
                        {
                            <tr>
                                <td>
                                    @item.OrderCode
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @item.PayType
                                </td>
                                <td>@item.MatchedAmount</td>
                                <td>@item.HStatusName</td>
                                <td>@item.DiffDay</td>
                                <td>@item.ActiveCode</td>
                                <td><a href="@Url.Action("helporderDetail", "WebHome", new { area = "WebFrontArea", orderid = item.ID })">详细信息>></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row text-center col-xs-12">
                    @Html.Pager(Model.orderlist, new PagerOptions { PageIndexParameterName = "page", ShowPageIndexBox = false, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
                </div>
            </div>
        </div>
    </div>
</div>