@model SimpleWeb.Areas.WebFrontArea.Models.HelpOrderViewModel
@{
    Layout = "~/Views/_WebLayout.cshtml";
}
<div class="bootbox modal fade in" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">投诉举报</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <form role="form" class="form-horizontal" method="post" id="helpreporting">
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">举报类型</label>
                            <div class="col-sm-6">
                                <select id="reasontype" name="reasontype" class="form-control">
                                    <option value="超过确认时间">超过确认时间</option>
                                    <option value="恶意不确认信息">恶意不确认信息</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">标题</label>
                            <div class="col-sm-6">
                                <input type="text" id="title" name="title" placeholder="标题" class="form-control">
                                <input type="hidden" id="model_orderid" name="model.orderid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">说明</label>
                            <div class="col-sm-6">
                                <textarea rows="3" class="form-control" placeholder="说明" id="reportingtext" name="reportingtext"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submithelpereporting()" data-dismiss="modal">确 定</button>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-default" role="navigation">@*navbar-fixed-top*@
    <div class="container">
        <div class="col-sm-12  col-xs-12">
            <img class="img-responsive" src="~/img/banner.jpg" />
        </div>
    </div>
    <div class="container">
        @Html.Action("webmenu", "IndexPub", new { area = "" })
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>提供帮助单据明细信息</span></h2>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">单据信息</div>
                            <div class="panel-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>单据编号</td>
                                            <td></td>
                                            <td>提供金额</td>
                                            <td></td>
                                            <td>支付方式</td>
                                            <td></td>
                                            <td>已匹金额</td>
                                            <td></td>
                                            <td>单据状态</td>
                                            <td></td>
                                            <td>排队天数</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>@Model.helporder.OrderCode</td>
                                            <td>
                                                <input type="hidden" value="@Model.helporder.ID" id="helporderid">
                                            </td>
                                            <td>@Model.helporder.Amount</td>
                                            <td></td>
                                            <td>@Model.helporder.PayType</td>
                                            <td></td>
                                            <td>@Model.helporder.MatchedAmount</td>
                                            <td></td>
                                            <td>@Model.helporder.HStatusName</td>
                                            <td></td>
                                            <td>@Model.helporder.DiffDay 天</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.acceptOrderInfo.Count > 0)
                {
                    <h2><span>匹配单据信息</span></h2>
                    <hr />
                    <div class="row">
                        @foreach (var item in Model.acceptOrderInfo)
                        {
                            <div class="col-sm-6">
                                <div class="info-board info-board-red">
                                    <ul class="checkout">
                                        <li><strong>匹配单据号</strong>: @item.acceptordercode</li>
                                        <li><strong>匹配金额</strong>: @item.MatchedMoney</li>
                                        <li><strong>接受帮助会员名字</strong>: @item.acceptmemberName</li>
                                        <li><strong>接受帮助会员电话</strong>: @item.acceptmemberPhone</li>
                                        <li><strong>接受帮助会员微信</strong>: @item.acceptmemberweixin</li>
                                        <li><strong>接受帮助会员支付宝</strong>: @item.acceptmemberAlipayName</li>
                                        <li><strong>推荐人名字</strong>: @item.remembername</li>
                                        <li><strong>推荐人电话</strong>: @item.rememberphone</li>
                                        <li><strong>当前匹配状态</strong>: @item.MatchStatusName</li>
                                        @if (item.MatchStatus == 1)
                                        { 
                                            <li><strong>匹配时间</strong>: @item.LastUpdateTime.ToString("yyyy-MM-dd HH:mm:ss")</li>
                                            <li>
                                                <ul class="countdown" data-date='@item.LastUpdateTime.AddDays(1).ToString("yyyy-MM-dd HH:mm:dd")'>
                                                    <li>
                                                        <span class="days">00</span>
                                                    </li>
                                                    <li class="seperator">天</li>
                                                    <li>
                                                        <span class="hours">00</span>
                                                    </li>
                                                    <li class="seperator">小时</li>
                                                    <li>
                                                        <span class="minutes">00</span>
                                                    </li>
                                                    <li class="seperator">分</li>
                                                    <li>
                                                        <span class="seconds">00</span>
                                                    </li>
                                                    <li class="seperator">秒</li>
                                                </ul>
                                            </li>                                                       
                                            <li>
                                                <button class="btn btn-lg btn-blue" onclick="updatehelporder(@Model.helporder.ID,@item.acceptorderid)">已打款</button>
                                            </li>
                                        }                                        
                                        @if (item.MatchStatus == 3)
                                        {
                                           
                                            <li>
                                                <a class="btn-animate btn-style btn-xs btn-d btn-red" data-toggle="modal" href="#box-config" onclick="hreport(@item.acceptorderid)">超时未确认投诉</a>
                                            </li>
                                            
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                }
                <h2><span>提供帮助会员基本信息</span></h2>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="info-board info-board-red">
                            <ul class="checkout">
                                <li><strong>会员名字</strong>: @Model.helperpeople.TruethName</li>
                                <li><strong>会员手机</strong>: @Model.helperpeople.MobileNum</li>
                                <li><strong>会员邮箱</strong>: @Model.helperpeople.Email</li>
                                <li><strong>会员微信号</strong>: @Model.helperpeople.WeixinNum</li>
                                <li><strong>会员支付宝ID</strong>: @Model.helperpeople.AliPayName</li>
                                <li><strong>会员归属地</strong>: @(Model.helperpeople.Province + " " + Model.helperpeople.City + " " + Model.helperpeople.Area)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
