@model SimpleWeb.Areas.WebFrontArea.Models.HomeViewModel
@{
    Layout = "~/Views/_WebLayout.cshtml";
}
<div class="bootbox modal fade in" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">提供帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <form role="form" class="form-horizontal" method="post" action="/WebFrontArea/WebHome/addhelporder">
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">帮助金额</label>
                            <div class="col-sm-6">
                                <input type="text" id="helpamount" name="helpamount" class="form-control" placeholder="帮助金额">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 pull-left control-label" style="color: red; font-size: 15px;">最低可帮助金额<span id="helpmin">@Model.minhelpamont</span>元&nbsp;&nbsp;&nbsp;最高可帮助金额<span id="helpmax">@Model.maxhelpamont</span>元</label>
                            <input type="hidden" id="lasthelp" name="lasthelp" value="@Model.extendinfo.LastHelpMoney">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">支付方式</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="chkweixin" name="chkweixin" value="微信">微信
                                <input type="checkbox" id="chkalipay" name="chkalipay" value="支付宝">支付宝
                                <input type="hidden" id="paytype" name="paytype">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">使用排单币</label>
                            <div class="col-sm-6">
                                <input type="text" id="helpactivecode" name="helpactivecode" class="form-control" placeholder="排单币编码">
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn-animate btn-style btn-xs btn-d btn-primary" onclick="autofill()">自动填充</button>
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="col-sm-10">
                                <input type="checkbox" id="chkrisk" name="chkrisk" class="form-control">
                                警告，我已完全了解所有风险。我决定参与诚信创客,尊重诚信创客规章和制度.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="providehelp()">确 定</button>
            </div>
        </div>
    </div>
</div>
<div class="bootbox modal fade in" id="box-config1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">接受帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">可用金额</label>
                            <div class="col-sm-7">
                                <input type="text" id="acceptamontenable" name="acceptamontenable" readonly="readonly" class="form-control" value="@Model.mycapitalinfo.StaticCapital">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">接受金额</label>
                            <div class="col-sm-7">
                                <input type="text" id="acceptamont" name="acceptamont" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-10 pull-left control-label" style="color: red; font-size: 15px;">最低可接受金额<span id="accmin">@Model.minacceptamont</span>元&nbsp;&nbsp;&nbsp;最高可接受金额<span id="accmax">@Model.maxacceptamont</span>元</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">接受来源</label>
                            <div class="col-sm-7">
                                <input type="radio" class="uniform" name="optionsRadios1" value="1" checked>
                                静态资金
                                <input type="radio" class="uniform" name="optionsRadios1" value="2">
                                动态资金
                                <input type="hidden" id="soucetype" name="soucetype" value="1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 pull-left control-label">支付方式</label>
                            <div class="col-sm-7">
                                <input type="checkbox" id="achkweixin" name="achkweixin" value="微信">微信
                                <input type="checkbox" id="achkalipay" name="achkalipay" value="支付宝">支付宝
                                <input type="hidden" id="apaytype" name="apaytype">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="checkbox" id="chkrisk1" name="chkrisk">警告，我已完全了解所有风险。我决定参与诚信创客,尊重诚信创客规章和制度.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="accepthelp()">确  定</button>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        @Html.Action("webmenu", "IndexPub", new { area = "" })
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color: #efefef;">
                <div class="user-avatar text-center" style="background-color: #efefef;">
                    <h1>@Model.member.TruethName</h1>
                    <p class="text-muted">@Model.member.MobileNum</p>
                </div>
                <ul class="user-info">
                    <li>邮箱: <span class="text-muted">@Model.member.Email</span></li>
                    <li>注册时间: <span class="text-muted">@Model.member.AddTime.ToString("yyyy/MM/dd")</span></li>
                    <li>推荐人: <span class="text-muted">@Model.recommend.MemberTruthName</span></li>
                    <li>推荐人手机: <span class="text-muted">@Model.recommend.MemberPhone</span></li>
                </ul>

                <div id="help-nav-one" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <li><a href="@Url.Action("recommendusermap", "WebHome", new { area="WebFrontArea"})">我的团队：@Model.data.members 人</a></li>
                            <li><a href="@Url.Action("myactivation", "WebHome", new { area = "WebFrontArea" })">激活币剩余：@Model.data.activecodeCount 枚</a></li>
                            <li><a href="@Url.Action("mylineation", "WebHome", new { area = "WebFrontArea" })">排单币剩余：@Model.data.paidancodeCount 枚</a></li>
                        </ul>
                    </div>
                </div>
                <div id="help-nav-one1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <li>我的钱包</li>
                            <li><a href="@Url.Action("mycapital", "WebHome", new { area = "WebFrontArea" })">静态资金余额：@Model.data.zijinmodel.StaticCapital</a></li>
                            <li><a href="@Url.Action("mycapital", "WebHome", new { area = "WebFrontArea" })">利息冻结：@Model.data.zijinmodel.StaticInterest</a></li>
                            <li><a href="@Url.Action("mycapital", "WebHome", new { area = "WebFrontArea" })">动态资金余额：@Model.data.zijinmodel.DynamicFunds</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12" style="background: url(/img/right.jpg) no-repeat; height: 600px; position: relative">
                        <div style="position: absolute; bottom: 20px;">
                            <a data-toggle="modal" href="#box-config">
                                <img src="~/img/help.jpg"></a>
                            <a data-toggle="modal" href="#box-config1" style="margin-left: 40px;">
                                <img src="~/img/accept.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="text-muted">
                            <a href="@Url.Action("helpOrderlist", "WebHome", new { area = "WebFrontArea" })">我提供的帮助</a>
                        </h3>
                        <hr>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="text-muted">
                            <a href="@Url.Action("acceptOrderlist", "WebHome", new { area = "WebFrontArea" })">我接受的帮助</a>
                        </h3>
                        <hr>
                    </div>
                    <div class="col-sm-6 col-xs-12 shopping-cart user-cart">
                        @if (Model.data.helperOrders != null)
                        {
                            foreach (var item in Model.data.helperOrders)
                            {
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>单据编号:
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="item">
                                                @item.OrderCode
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>帮助金额：
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="item">
                                                @item.Amount
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>目前状态：
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="item">
                                                @item.HStatusName
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-center">
                                            <a href="@Url.Action("helporderDetail", "WebHome", new { area = "WebFrontArea", orderid = item.ID })">查看明细>></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            }
                        }
                        else
                        {
                            <p class="text-muted">暂无提供帮助的订单</p>
                        }
                    </div>

                    <div class="col-sm-6 col-xs-12 shopping-cart user-cart">
                        @if (Model.data.acceptOrders != null)
                        {
                            foreach (var item in Model.data.acceptOrders)
                            {
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>单据编号:
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="item">
                                                @item.OrderCode
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>帮助金额：
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="item">
                                                @item.Amount
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>目前状态：
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="item">
                                                @item.AStatusName
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-center">
                                            <a href="@Url.Action("AcceptOrderDetail", "WebHome", new { area = "WebFrontArea", orderid = item.ID })">查看明细>></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            }
                        }
                        else
                        {
                            <p class="text-muted">暂无接受帮助的订单</p>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-muted">
                            <a href="#">我的资金变动记录</a>
                        </h3>
                        <hr>
                    </div>
                    <div class="col-sm-12 col-xs-12 shopping-cart user-cart">
                        <span id="staticmoney" style="display: none">@Model.mycapitalinfo.StaticCapital</span>
                        <span id="dymicmoney" style="display: none">@Model.mycapitalinfo.DynamicFunds</span>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>变动描述</th>
                                    <th>变动金额</th>
                                    <th>涉及单号</th>
                                    <th>变动时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.data.AmontChangLog != null)
                                {
                                    foreach (var item in Model.data.AmontChangLog)
                                    {
                                    <tr>
                                        <td>
                                            <div class="item">
                                                @item.Remark
                                            </div>
                                        </td>
                                        <td>@item.ProduceMoney</td>
                                        <td>
                                            @item.OrderCode
                                        </td>
                                        <td>@item.AddTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">
                                            <p class="text-muted">暂无信息</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
