@using Webdiyer.WebControls.Mvc
@model SimpleWeb.Areas.WebFrontArea.Models.mycapitallistViewModel
@{
    Layout = "~/Views/_WebLayout.cshtml";
}
<div class="navbar navbar-default" role="navigation">@*navbar-fixed-top*@
    <div class="container">
        <div class="col-sm-12  col-xs-12">
            <img class="img-responsive" src="~/img/banner.jpg" />
        </div>
    </div>
    <div class="container">
        @Html.Action("webmenu", "IndexPub", new { area = "" })
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-muted">我的资金变动列表</h3>
                        <hr>
                    </div>
                    <div class="col-sm-12 col-xs-12 shopping-cart user-cart">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>变动描述</th>
                                    <th>金额</th>
                                    <th>使用单据编号/用户名</th>
                                    <th>变动时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.list)
                                {
                                    <tr>
                                        <td>
                                            <div class="item">
                                                @item.Remark
                                            </div>
                                        </td>
                                        <td>@item.ProduceMoney</td>
                                        <td>@item.OrderCode</td>
                                        <td>@(item.AddTime == DateTime.MinValue ? "" : item.AddTime.ToString("yyyy-MM-dd HH:mm"))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.Pager(Model.list, new PagerOptions { PageIndexParameterName = "page", ShowPageIndexBox = false, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
