@model SimpleWeb.Areas.WebFrontArea.Models.UserProfileViewModel
@{
    Layout = "~/Views/_WebLayout.cshtml";
}
<div class="topic">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb hidden-xs">
                <li><a href="index.html">Home</a></li>
                <li class="active">个人信息</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 id="accordions"><span>个人信息</span></h2>
            <hr />
            <table class="table">
                <tbody>
                    <tr>
                        <td>真实姓名</td>
                        <td></td>
                        <td>@Model.member.TruethName</td>
                    </tr>
                    <tr>
                        <td>手机号码</td>
                        <td></td>
                        <td>@Model.member.MobileNum</td>
                    </tr>
                    <tr>
                        <td>固定电话</td>
                        <td></td>
                        <td>@Model.member.TelPhone</td>
                    </tr>
                    <tr>
                        <td>邮箱</td>
                        <td></td>
                        <td>@Model.member.Email</td>
                    </tr>
                    <tr>
                        <td>身份证号</td>
                        <td></td>
                        <td>@Model.member.IdentificationID</td>
                    </tr>
                    <tr>
                        <td>微信号</td>
                        <td></td>
                        <td>@Model.member.WeixinNum</td>
                    </tr>
                    <tr>
                        <td>支付宝名称</td>
                        <td></td>
                        <td>@Model.member.AliPayName</td>
                    </tr>
                    <tr>
                        <td>支付宝ID</td>
                        <td></td>
                        <td>@Model.member.AliPayNum</td>
                    </tr>
                    <tr>
                        <td>密保问题</td>
                        <td></td>
                        <td>@Model.member.SecurityQuestion</td>
                    </tr>
                    <tr>
                        <td>密保答案</td>
                        <td></td>
                        <td>@Model.member.SecurityAnswer</td>
                    </tr>
                    <tr>
                        <td>归属地</td>
                        <td></td>
                        <td>@(Model.member.Province + " " + Model.member.City + " " + Model.member.Area + " " + Model.member.Address)</td>
                    </tr>
                    <tr>
                        <td>注册时间</td>
                        <td></td>
                        <td>@Model.member.AddTime.ToString("yyyy-MM-dd")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2><span>更改密码</span></h2>
            <hr />
            <table class="table">
                <tbody>
                    <tr>
                        <td>新密码</td>
                        <td></td>
                        <td>
                            <input type="password" id="mynewpwd" name="mynewpwd" placeholder="请输入新密码" value="" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="3"><a href="javascript:void(0);" class="btn-animate btn-style btn-d btn-primary" onclick="changlogpwd()">更&nbsp;&nbsp;改</a></td>
                </tbody>
            </table>
        </div>
    </div>
</div>
