@using Webdiyer.WebControls.Mvc
@model SimpleWeb.Areas.NewTemplateArea.Models.ActiveCodeLogViewModel
@{
    Layout = "~/Views/_NewTempleteLayout.cshtml";
}
<div class="row-fluid"></div>
<div class="row-fluid">
    <div class="widget span12">
        <div class="widget-header">
            <i class="icon-signal"></i>
            <h5>我的激活码/排单币变动列表</h5>
            <div class="widget-buttons">
                <a data-collapsed="false" class="collapse" href="javascript:void(0)"><i class="icon-chevron-up" data-title="Collapse"></i></a>
            </div>
        </div>
        <div class="widget-header-under">我的激活码/排单币变动列表</div>
        <div style="min-height: 319px; display: block;" class="widget-body clearfix">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>会员名字</th>
                        <th>使用描述</th>
                        <th>排单币/激活码编号</th>
                        <th>变动时间</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.MemberName</td>
                            <td>@item.Remark</td>
                            <td>@item.ActiveCode</td>
                            <td>@(item.Addtime == DateTime.MinValue ? "" : item.Addtime.ToString("yyyy-MM-dd HH:mm"))</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
            <div class="span12">
                <div class="dataTables_paginate paging_bootstrap pagination center">
                    @Html.Pager(Model.List, new PagerOptions { PageIndexParameterName = "page", ShowPageIndexBox = false, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
                </div>
            </div>
        </div>
    </div>
</div>


