@model SimpleWeb.Areas.AdminArea.Models.DefaultViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- STYLER -->
                        <!-- /STYLER -->
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                            </li>
                            <li>主页</li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                        <div class="clearfix">
                            <h3 class="content-title pull-left">主页</h3>
                        </div>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            <!-- /PAGE HEADER -->
            <div class="row">
                <div class="col-md-4">
                    <div class="alert alert-block alert-info fade in">
                        <h3>累计提供帮助金额：@Model.datamodel.TotalHelpAmont</h3>
                        <br />
                        <h4>今日提供帮助金额：@Model.datamodel.TodayHelpMoney</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-block alert-danger fade in">
                        <h3>累计接受帮助金额：@Model.datamodel.TotalAcceptAmont</h3>
                        <br />
                        <h4>今日接受帮助金额：@Model.datamodel.TodayAcceptMoney</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-block alert-success fade in">
                        <h3>累计匹配单据金额：@Model.datamodel.TotalMatchMoney</h3>
                        <br />
                        <h4>今日匹配单据金额：@Model.datamodel.TodayMatchedMoney</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BOX -->
                    <div class="box border red">
                        <div class="box-title">
                            <h4><i class="fa fa-home"></i><span class="hidden-inline-mobile">欢迎使用云管理平台</span></h4>
                        </div>
                        <div class="box-body">
                            <div class="tabbable header-tabs">
                                <ul class="nav nav-tabs">

                                    <li class="active"><a href="#box_tab2" data-toggle="tab"><i class="fa fa-user"></i><span class="hidden-inline-mobile">统计信息</span></a></li>
                                </ul>
                                <div class="tab-content">

                                    <div class="tab-pane fade in active" id="box_tab2">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">系统简要统计信息</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-3">今日提供帮助金额</td>
                                                    <td class="col-md-9">@Model.datamodel.TodayHelpMoney</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">今日接受帮助金额</td>
                                                    <td class="col-md-9">@Model.datamodel.TodayAcceptMoney</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">今日匹配金额</td>
                                                    <td class="col-md-9">@Model.datamodel.TodayMatchedMoney</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">系统累计提供的帮助金额</td>
                                                    <td class="col-md-9">@Model.datamodel.TotalHelpAmont</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">系统累计接受帮助的金额</td>
                                                    <td class="col-md-9">@Model.datamodel.TotalAcceptAmont</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">系统累计匹配金额</td>
                                                    <td class="col-md-9">@Model.datamodel.TotalMatchMoney</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">系统总会员数</td>
                                                    <td class="col-md-9" id="TotalMemberCount">@Model.datamodel.TotalMemberCount</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">系统活动会员数</td>
                                                    <td class="col-md-9">@Model.datamodel.ActiveMemberCount</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">系统的总共激活码数量</td>
                                                    <td class="col-md-9">@Model.datamodel.ActiveCodeCount</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">系统总共的拍单码数量</td>
                                                    <td class="col-md-9">@Model.datamodel.PaidanCodeCount</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">系统当前用户名字</td>
                                                    <td class="col-md-9">@Model.UserName</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /BOX -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptfiles{
    <script src="@Url.Content("/js/bootbox/bootbox.min.js")"></script>
}
@section  myscript{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init(); //Initialise plugins and elements
            if ($("#TotalMemberCount").html() == '0') {
                bootbox.dialog({
                    message: "欢迎使用本系统，是否现在为系统添加初始会员？",
                    title: "初始化系统会员",
                    buttons: {
                        Cancel: {
                            label: "下次吧",
                            className: "btn-default",
                            callback: function () {
                            }
                        }
                        , OK: {
                            label: "现在去创建",
                            className: "btn-primary",
                            callback: function () {
                                alert("OK");
                            }
                        }
                    }
                });
            }
        });
    </script>
}