@using Webdiyer.WebControls.Mvc
@model SimpleWeb.Areas.AdminArea.Models.MatchedManageViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">会员管理</a>
                            </li>
                            <li>会员列表</li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                        <div class="clearfix">
                            <h3 class="content-title pull-left">会员列表</h3>
                        </div>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-4 center">
                        <h3 class="content-title"><i class="fa fa-rmb"></i>&nbsp;&nbsp;<span class="help">0</span></h3>
                        <input type="hidden" value="" id="hid">
                    </div>
                    <div class="col-sm-4 center">
                        <button class="btn btn-lg btn-info" type="button" id="btnmatch" onclick="setmatched()">匹&nbsp;&nbsp;<i class="fa fa-exchange"></i>&nbsp;&nbsp;配</button>
                        <button class="btn btn-lg btn-info" type="button" id="hidbtn"><i class="fa fa-spinner fa fa-spin"></i>匹&nbsp;&nbsp;&nbsp;&nbsp;配</button>
                    </div>
                    <div class="col-sm-4 center">
                        <h3 class="content-title"><i class="fa fa-rmb"></i>&nbsp;&nbsp;<span class="accept">0</span></h3>
                        <input type="hidden" value="" id="aid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center"></th>
                                            <th class="text-center">提供帮助</th>
                                            <th class="text-center">真实姓名</th>
                                            <th class="text-center">手机号</th>
                                            <th class="text-center">申请金额</th>
                                            <th class="text-center">支付方式</th>
                                            <th class="text-center">剩余金额</th>
                                            <th class="text-center">申请时间</th>
                                            <th class="text-center">排        队</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.helporderlist)
                                        {
                                            <tr id="htr@(item.ID)" class="text-center">
                                                <td>
                                                    <input type="checkbox" name="hproList" value="@item.ID" /></td>
                                                <td  name="@(item.ID)">@item.OrderCode</td>
                                                <td  name="@(item.MemberID)">@item.MemberName</td>
                                                <td>@item.MemberPhone</td>
                                                <td>@item.Amount</td>
                                                <td>@item.PayType</td>
                                                <td>@(item.Amount - item.MatchedAmount)</td>
                                                <td>@item.AddTime.ToString("MM-dd HH:ss")</td>
                                                <td>
                                                    @(item.DiffDay)天
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row center col-xs-12 mycss">
                                @Html.Pager(Model.helporderlist, new PagerOptions { PageIndexParameterName = "id", ShowPageIndexBox = false, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center"></th>
                                            <th class="text-center">接受帮助</th>
                                            <th class="text-center">真实姓名</th>
                                            <th class="text-center">手机号</th>
                                            <th class="text-center">申请金额</th>
                                            <th class="text-center">支付方式</th>
                                            <th class="text-center">剩余金额</th>
                                            <th class="text-center">申请时间</th>
                                            <th class="text-center">排        队</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.acceptorderlist)
                                        {
                                            <tr id="atr@(item.ID)" class="text-center">
                                                <td>
                                                    <input type="checkbox" name="aproList" value="@item.ID" /></td>
                                                <td  name="@(item.ID)">@item.OrderCode</td>
                                                <td  name="@(item.MemberID)">@item.MemberName</td>
                                                <td>@item.MemberPhone</td>
                                                <td>@item.Amount</td>
                                                <td>@item.PayType</td>
                                                <td>@(item.Amount - item.MatchedAmount)</td>
                                                <td>@item.AddTime.ToString("MM-dd HH:ss")</td>
                                                <td>
                                                    @(item.DiffDay)天
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row center col-xs-12 mycss">
                                @Html.Pager(Model.acceptorderlist, new PagerOptions { PageIndexParameterName = "page", ShowPageIndexBox = false, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptfiles{
    <script src="@Url.Content("/js/bootbox/bootbox.min.js")"></script>
}
@section myscript{
    <script type="text/javascript">
        $(function () {
            App.init(); //Initialise plugins and elements
            $("#hidbtn").hide();
            $("input[type='checkbox'][name='hproList']").change(function () {
                var ch = $(this).is(':checked');
                var index = $(this).val();
                var amont = $("#htr" + index).children('td').eq(6).html();
                var oldamount = $(".help").html();
                var id = index + ",";
                var newamount = 0;
                var hids = $("#hid").val();
                if (ch) {
                    newamount = parseFloat(amont) + parseFloat(oldamount);
                    hids = hids + id;
                }
                else {
                    newamount = parseFloat(oldamount) - parseFloat(amont);
                    hids = hids.replace(id, "");
                }

                $("#hid").val(index);
                $(".help").html(amont);
            });
            $("input[type='checkbox'][name='aproList']").change(function () {
                var ch = $(this).is(':checked');
                var index = $(this).val();
                var amont = $("#atr" + index).children('td').eq(6).html();
                var oldamount = $(".accept").html();
                var id = index + ",";
                var newamount = 0;
                var aids = $("#aid").val();
                if (ch) {
                    newamount = parseFloat(amont) + parseFloat(oldamount);
                    aids = aids + id;
                }
                else {
                    newamount = parseFloat(oldamount) - parseFloat(amont);
                    aids = aids.replace(id, "");
                }
                $("#aid").val(aids);
                $(".accept").html(newamount);
            });
        });
        function setmatched() {
            $("#btnmatch").hide();
            $("#hidbtn").show();
            var amoney = parseFloat($(".accept").html());
            var hmoney = parseFloat($(".help").html());
            if (hmoney == 0) {
                $("#hidbtn").hide();
                $("#btnmatch").show();
                bootbox.alert("请选择匹配的单据");
                return false;
            }
            if (amoney != hmoney) {
                $("#hidbtn").hide();
                $("#btnmatch").show();
                bootbox.alert("双方金额不一致,请重新选择");
                return false;
            }
            var aids = $("#aid").val();
            var hid = $("#hid").val();
            $.ajax({
                url: '@Url.Action("matchedorder", "Order", new { area = "AdminArea" })',
                dataType: 'Json',
                data: { 'hid': hid, 'aids': aids },
                type: 'POST',
                async:false,
                success: function (data) {
                    if (data == "1") {
                        location.reload();
                    }
                    else {
                        bootbox.alert(data);
                    }
                }
            });
            $("#hidbtn").hide();
            $("#btnmatch").show();
        }
    </script>
}
